<div class="container main-container">

    <div class="row">
        <div class="col-md-4">
            <label for="termino">Buscador de artistas</label>
            <input [(ngModel)]="termino" (keyup)="buscarArtista()" type="text" class="form-control" name="termino" id="" placeholder="Buscar artista...">
            <hr>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3 text-center puntero" [routerLink]="['/artista', artista.id]" *ngFor="let artista of _spotifyservice.artistas">
                    <img [src]="artista.images | sinfoto" class="img-fluid img-thumbnail" style="margin:5px">
                    <p>{{ artista.name }}</p>
                    <hr>
                </div>
            </div>

            <!-- <ul>
                <li *ngFor="let artista of _spotifyservice.artistas">
                    {{artista.name}}
                </li>

            </ul> -->
        </div>
    </div>
</div>